<div class="wrapper wrapper-content ">
    <div class="row search-block">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-xs-12 col-sm-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="query"  ng-keyup="main.search(query)">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="main.search(query)">
                        Go!
                    </button>
                </span>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8" infinite-scroll="main.images.nextPage()" infinite-scroll-disabled='main.images.busy'  infinite-scroll-distance="1">
            <div class="preview-list__item col-lg-2 col-xs-4 col-sm-2"
                 ng-repeat="(key, value) in main.images.items"
                 ng-mouseenter="hovered = true"  ng-mouseleave="hovered = false">
                <a href=""  ng-click="main.open(value.id)" data-id="{{value.id}}" >
                    <img src="{{value.images.fixed_width.url}}" >
                </a>
                <span ng-show="hovered" class="add-button" style="" ng-click="main.addToFav(value.id)">
                       <i class="fa fa-heart" style=""></i>
                </span>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>