/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7
 *
*/

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "variables.less";
@import "mixins.less";

// INSPINIA Theme Elements
@import "typography.less";
@import "navigation.less";
@import "top_navigation.less";
@import "buttons.less";
@import "badget_labels.less";
@import "elements.less";
@import "sidebar.less";
@import "base.less";
@import "pages.less";
@import "chat.less";
@import "metismenu.less";
@import "spinners.less";

// Landing page styles
@import "landing.less";

// RTL Support
@import "rtl.less";

// For demo only - config box style
@import "theme-config.less";

// INSPINIA Skins
@import "skins.less";
@import "md-skin.less";

// Media query style
@import "media.less";

// Custom style
// Your custom style to override base style
@import "custom.less";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}

.modal-image-wrapper {
  img {
    width: 100%;
  }
}

#page-wrapper {
  width: 100%;
  margin: 0!important;
}

.navbar-header {

}

.search-block {
  margin-bottom: 10px;
}

.preview-list__item  img{
  width: 100%;
}

.preview-list__item  img{
  width: 100%;
}

.navbar {
  .navbar-top-links {
    .active {
      color: rgb(216, 218, 220);
    }
  }
}

.add-button {
  position: absolute;
  top: 5%;
  left: 80%;

  i {
    font-size: 20px;
    color: #ed5565;
    cursor: pointer;
  }
}












