<div class="wrapper wrapper-content " ng-controller="CollectionController as collection">

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8" infinite-scroll="main.images.nextPage()" infinite-scroll-disabled='main.images.busy'  infinite-scroll-distance="1">
            <div class="preview-list__item col-lg-2 col-xs-4 col-sm-2"
                 ng-repeat="(key, value) in collection.items">
                <a href=""  ng-click="main.open(value.id)" data-id="{{value.id}}" >
                    <img src="{{value.images.fixed_width.url}}" >
                </a>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>